.Services__section {
	padding-top: 0;
	padding-bottom: 0;
}
.Services__section_title {
	font-family: var(--third-family);
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	color: var(--text-title-color);
	margin-bottom: 48px;
}
.Services__section_wraper {
	max-width: 1344px;
	margin: 0 auto;
}
@media screen and (min-width: 768px) {
	.Services__section_title {
		font-size: 32px;
	}
}
@media screen and (min-width: 1280px) {
	.Services__section_title {
		font-size: 36px;
	}
}
@media screen and (min-width: 1280px) {
	.Services__section_title {
		font-size: 40px;
	}
}
