.OurWorks__section {
	width: 100%;
}

.sliderContainer {
	position: relative;
	width: calc(100% - 32px - 48px);
	margin: auto;
}
.OurWorks__section_title {
	font-family: var(--third-family);
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	color: #232323;
}
.swiper {
	padding: 20px 6px;
	padding-bottom: 40px;
}

.slide {
	display: flex;
	justify-content: center;
}

.reviewCard {
	background: white;
	box-shadow: -1px 4px 10px rgba(0, 0, 0, 0.9);
	border-radius: 12px;
	padding: 20px;
	text-align: center;
	padding: 0;
	min-width: 100%;
	height: auto;
}
.photo {
	width: 100%;
}

.navButton {
	display: none;
}

.navButton_icon {
	fill: var(--background-button);
	min-width: 24px;
	height: 24px;
}
.right {
	rotate: 180deg;
}

@media screen and (min-width: 375px) {
	.sliderContainer {
		max-width: 600px;
	}

	/* Навигационные кнопки */
	.navButton {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		background: white;
		border: 2px solid var(--background-button);
		padding: 10px;
		width: 24px;
		height: 24px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 999;
	}

	.navButton:hover .navButton_icon {
		background: var(--background-button);
		fill: var(--white);
		border-radius: 50%;
	}

	.prevButton {
		left: -32px;
	}

	.nextButton {
		right: -32px;
	}
}

/* Стили для пагинации (точек) */
.swiper-pagination-bullet {
	background: gray;
	opacity: 0.5;
}

.swiper-pagination-bullet-active {
	background: orange;
	opacity: 1;
}

@media screen and (min-width: 768px) {
	.sliderContainer {
		max-width: 100%;
		padding: 0 12px;
		margin: 0 auto;
	}
	.swiper {
		padding: 32px 10px;
		padding-bottom: 48px;
	}
	.OurWorks__section_title {
		font-size: 32px;
	}
	.reviewCard {
		padding: 0;
		min-width: 100%;
	}
	.navButton,
	.navButton_icon {
		min-width: 36px;
		height: 36px;
	}
	.prevButton {
		left: -36px;
	}
	.nextButton {
		right: -36px;
	}
}

@media screen and (min-width: 1280px) {
	.swiper {
		padding-top: 48px;
	}
	.OurWorks__section_title {
		font-size: 36px;
	}
	.reviewCard {
		padding: 0px;
		min-width: 100%;
	}
	.navButton {
		width: 48px;
		height: 48px;
	}
	.prevButton {
		left: -48px;
	}
	.nextButton {
		right: -48px;
	}
}

@media screen and (min-width: 1440px) {
	.sliderContainer {
		max-width: 1248px;
		/* overflow: hidden; */
	}
	.swiper {
		padding-top: 32px;
	}
	.OurWorks__section_title {
		margin-bottom: 0;
		font-size: 40px;
	}
	.reviewCard {
		padding: 0px;
		text-align: center;
		max-width: calc(100% - 40px);
	}
}
