.Hero__section_title {
	font-family: var(--third-family);
	font-weight: 600;
	font-size: 24px;
	color: var(--white);
	text-align: left;
	margin-bottom: 20px;
}
.Hero__section_text {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	color: var(--white);
	text-align: left;
	margin-bottom: 32px;
}

.Hero__section_info_descr_title {
	font-family: var(--third-family);
	font-weight: 600;
	font-size: 16px;
	color: var(--white);
}
.Hero__section_info_descr_text {
	font-family: var(--third-family);
	font-weight: 400;
	font-size: 14px;
	color: var(--white);
}

.Hero__section {
	background-image: url("/Hero-Section.svg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
	position: relative;
	top: -48px;
	padding-top: 95px;
}

.Hero__section_button {
	font-family: var(--font4);
	font-weight: 700;
	font-size: 16px;
	text-transform: capitalize;
	color: var(--white);
	border-radius: 8px;
	width: 100%;
	height: 60px;
	background: #ff6a03;
	overflow: hidden;
	position: relative;
	transition: all 0.3s ease;
}

.Hero__section_button::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -100%;
	width: 200%;
	height: 300%;
	background: rgba(255, 255, 255, 0.2);
	transform: rotate(45deg);
	transition: all 0.3s ease;
}

.Hero__section_button:hover::before {
	left: 100%;
	transition: all 0.3s ease-in-out;
}

.Hero__section_button:hover {
	transform: scale(1.05); /* Увеличиваем кнопку */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Hero__section_button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 20px;
	position: relative;
	max-width: 311px;
}

.Hero__section_button_icon {
	width: 23px;
	height: 23px;
	position: absolute;
	right: 19px;
}
.Hero__section_item_icon {
	width: 32px;
	height: 32px;
	stroke: #ff6a03;
	fill: none;
}
.Hero__section_item {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	gap: 12px;
}
.Hero__section_info_descr {
	text-align: left;
}
.Hero__section_list {
	display: flex;
	flex-direction: column;
	margin-bottom: 48px;
	gap: 20px;
}

.Hero__section_img {
	display: none;
}
.Hero__section_wraper {
	position: relative;
}
.Hero__section_img {
	position: absolute;
	bottom: 18%;
	right: 0;
	width: 55%;
	max-width: 387px;
}

@media screen and (min-width: 375px) {
	.Hero__section_img {
		display: block;
	}
}
@media screen and (min-width: 768px) {
	.Hero__section_title {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.Hero__section_text {
		font-size: 24px;
	}
	.Hero__section_info_descr_title {
		font-size: 20px;
	}
	.Hero__section_info_descr_text {
		font-size: 16px;
	}
	.Hero__section_img {
		position: absolute;
		bottom: 15px;
		min-width: 518px;
	}
	.Hero__section_list {
		gap: 32px;
	}
}
@media screen and (min-width: 1280px) {
	.Hero__section {
		top: -100px;
		padding-top: 116px;
	}
	.Hero__section_wraper {
		max-width: 1184px;
	}
	.Hero__section_title {
		font-size: 36px;
	}
	.Hero__section_text {
		font-size: 28px;
	}
	.Hero__section_info_descr_title {
		font-size: 22px;
	}
	.Hero__section_info_descr_text {
		font-size: 18px;
	}
}

@media screen and (min-width: 1440px) {
	.Hero__section_title {
		font-size: 48px;
		margin-bottom: 24px;
	}
	.Hero__section_text {
		font-size: 32px;
	}
	.Hero__section_info_descr_title {
		font-size: 24px;
	}
	.Hero__section_info_descr_text {
		font-size: 20px;
	}
	.Hero__section_wraper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 24px;
		min-width: 100%;
	}
	.Hero__section_info {
		text-align: left;
		width: 60%;
	}
	.Hero__section_text {
		margin-bottom: 32px;
	}
	.Hero__section_list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
		margin-bottom: 48px;
	}
	.Hero__section_item {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
	}
	.Hero__section_info_descr {
		text-align: left;
	}

	.Hero__section_item_icon {
		width: 40px;
		height: 40px;
	}
	.Hero__section_button {
		padding-left: 20px;
		padding-right: 12px;
		max-width: 310px;
		height: 60px;
		font-size: 20px;
	}
	.Hero__section_button_icon {
		position: relative;
		right: 0;
	}
	.Hero__section_img {
		/* top: 95px; */
		min-width: 518px;
		/* right: 0;
		width: 55%; */
	}
}

/* .Hero__section_img {
		background-image: url("/img/ventiliation_x1.png");
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 518px;
		aspect-ratio: 4 / 2.3;
	}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 100vh),
	(min-resolution: 192dpi) and (max-width: 100vh) {
	.Hero__section_img {
		background-image: url("/img/ventiliation_x2.png");
	}
} */
