.Reviews__section {
	padding-top: 0;
	padding-bottom: 0;
}
.Reviews__section_title {
	font-family: var(--third-family);
	font-weight: 400;
	font-size: 40px;
	text-align: center;
	color: #232323;
	margin-bottom: 32px;
}
@media screen and (min-width: 1280px) {
	.Reviews__section_title {
		margin-bottom: 0;
	}
}
