.Navigation__container {
	min-height: 45px;
	z-index: 99;
	display: flex;
	align-items: center;
}
.Navigation__container_wrap {
	display: none;
}
.Navigation__mob {
	width: 100%;
}
.Navigation__mob_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 48px;
}
.Navigation__mob_logo,
.Navigation__logo {
	width: 67px;
	height: 36px;
}

.menu_burger {
	position: fixed;
	top: 45px;
	left: -100%;
	height: 100%;
	width: 100vw;
	background: var(--background-fone);
	opacity: 0.97;
	z-index: 1;
	display: flex;
	flex-direction: column;

	gap: 20px;
	padding-top: 30px;
	transition: left 1000ms ease;
}
.open {
	position: fixed;
	top: 45px;
	bottom: 0;
	left: 0;
	display: flex;

	gap: 20px;
	overflow: auto;
	background: var(--background-fone);
	padding-top: 30px;
	transform: translateX(0);
}

@media screen and (min-width: 375px) {
	.Navigation__container_nav_item,
	.Navigation__container_address_item {
		font-size: 18px;
	}
}
@media screen and (min-width: 768px) {
	.Navigation__container_nav_item,
	.Navigation__container_address_item {
		font-size: 18px;
	}
	.menu_burger,
	.open {
		top: 45px;
	}
}
@media screen and (min-width: 1280px) {
	.Navigation__container {
		min-height: 100px;
	}
	.Navigation__mob {
		display: none;
	}
	.Navigation__container_wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
	}
	.Navigation__container_nav_list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 32px;
	}
	.Navigation__container_nav_item,
	.Navigation__container_address_item {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		color: var(--white);
	}
	.Navigation__container_logo {
		width: 100px;
		height: 50px;
	}
	.Navigation__container_address_item {
		display: flex;
		align-items: center;
		gap: 6px;
	}
	.Navigation__container_address_list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 12px;
	}
	.Navigation__container_address_icon {
		fill: var(--background-button);
		width: 25px;
		height: 25px;
	}
	.Navigation__container_nav_item,
	.Navigation__container_address_item {
		font-size: 18px;
	}
	.Navigation__logo {
		width: 100px;
		height: 50px;
	}
	.menu_burger {
		display: none;
	}
}
@media screen and (min-width: 1440px) {
	.Navigation__container_nav_item,
	.Navigation__container_address_item {
		font-size: 18px;
	}
}
