.Benefits__section_title {
	font-family: var(--third-family);
	font-weight: 400;
	font-size: 40px;
	line-height: 162%;
	color: var(--white);
}
.Benefits__section_item_title {
	font-family: var(--second-family);
	font-weight: 600;
	font-size: 32px;
	text-align: center;
	color: var(--white);
}
.Benefits__section_item_text {
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 24px;
	text-align: center;
	color: var(--white);
}

.Benefits__section {
	padding: 58px 46px;
	width: 100%;
	height: auto;
	background: var(--background-fone);
}
.Benefits__section_item_icon {
	width: 60px;
	height: 60px;
	fill: var(--background-button);
}
.Benefits__section_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 24px;
	padding-top: 48px;
	padding-bottom: 48px;
}
.Benefits__section_item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc((100% - 48px) / 3);
	height: 319px;
	border-radius: 8px;
	padding: 24px;
	background: rgba(95, 136, 211, 0.2);
	gap: 12px;
}
